body {
  background-color: #0bc46d;
  margin: 0px 150px;
}

p {
  margin: 0; padding: 0;
}

.main {
  background: linear-gradient(#9198e5, #e66465);
  width: 1040px; height: 1600px;
  margin: 0;
}

.vp1 {
  width: 100%; height: 125px;
  position: relative;
}

.titele2 {
  font-size: 4em;
  position: relative;
  font-weight: bold;
  font-family: 'Segoe UI Heavy';
  text-align: center;
  margin-top: -140px;
  margin-bottom: 70px;
}

.footer {
  background-color:black;
  width: 100%; height: 50px;
}